## Ensure that the resolver exists if it runs in to an error.
#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end
## Return the response from the CreateList function
$util.toJson($ctx.stash.res)