#set($owner = $util.defaultIfNull($ctx.identity.claims.get("username"), $ctx.identity.claims.get("cognito:username")))
## [Start] Prepare DynamoDB PutItem Request. **
#set($list = {})
#set($listId = $util.autoId()) ## generate a unique id for the list
$util.qr($list.put("id", $listId))
$util.qr($list.put("owner", $owner))
$util.qr($list.put("title", $ctx.args.input.title))
$util.qr($list.put("createdAt", $util.time.nowISO8601()))
$util.qr($list.put("updatedAt", $util.time.nowISO8601()))
$util.qr($list.put("__typename", "GroceryList"))

#set($arr = [])
$util.qr($arr.add($util.dynamodb.toMapValues($list)))

## [Start] Set the primary @key. **
#set( $modelObjectKey = {
  "listId": $listId,
  "userId": $owner
} )
## [End] Set the primary @key. **

## [Start] Prepare DynamoDB PutItem Request. **
#set($editor = {})
$util.qr($editor.put("key", $modelObjectKey))
$util.qr($editor.put("createdAt", $util.time.nowISO8601()))
$util.qr($editor.put("updatedAt", $util.time.nowISO8601()))
$util.qr($editor.put("__typename", "ListEditor"))
$util.qr($editor.put("id", "${listId}:$owner"))
$util.qr($editor.put("editorUserId", $owner))
$util.qr($editor.put("editorListId", $listId))

#set($arr2 = [])
$util.qr($arr2.add($util.dynamodb.toMapValues($editor)))

{
    "version" : "2018-05-29",
    "operation" : "BatchPutItem",
    "tables" : {
        "GroceryList-uzrt3gmxc5c4rhsyrdkriizm24-dev": $utils.toJson($arr),
        "Editor-uzrt3gmxc5c4rhsyrdkriizm24-dev": $utils.toJson($arr2)
    }
}
