#set( $listId = $ctx.prev.result.id) ## - comes from previously created grocery list.
#set( $userId = $ctx.stash.owner) ## - the "username" of the logged in user.

## [Start] Set the primary @key. **
#set( $modelObjectKey = {
  "listId": $util.dynamodb.toDynamoDB($listId),
  "userId": $util.dynamodb.toDynamoDB($userId)
} )
## [End] Set the primary @key. **

## [Start] Prepare DynamoDB PutItem Request. **
#set($editor = {})
$util.qr($editor.put("createdAt", $util.defaultIfNull($ctx.args.createdAt, $util.time.nowISO8601())))
$util.qr($editor.put("updatedAt", $util.defaultIfNull($ctx.args.updatedAt, $util.time.nowISO8601())))
$util.qr($editor.put("__typename", "ListEditor"))
$util.qr($editor.put("id", "${listId}:$userId"))
$util.qr($editor.put("editorUserId", $userId))
$util.qr($editor.put("editorListId", $listId))

{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": #if( $modelObjectKey ) $util.toJson($modelObjectKey) #else {
  "id":   $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.args.id, $util.autoId()))
} #end,
  "attributeValues": $util.dynamodb.toMapValuesJson($editor),
  "condition": {
      "expression": "attribute_not_exists(#id)",
      "expressionNames": {
          "#id": "id"
    }
  }
}
## [End] Prepare DynamoDB PutItem Request. **